extends layout

block style
	link(rel='stylesheet', href='/style/index.css')

block content
	a(href='https://github.com/andy-hanson/logic-online')
		img(style='position: absolute; top: 0; right: 0',
			src='https://github-camo.global.ssl.fastly.net/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67',
			alt='Fork me on GitHub',
			data-canonical-src='https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png')

	div#about.textBubble.
		Just click on any exercise number to play.

	div#exercisesList.textBubble
		div.title All Exercises

		div#freePlay
			a(href='free') Free play

		table#exerciseTable
			each exercise in allExercises
				tr
					td.exerciseNumber
						a(href='exercise/#{exercise.name}')
							= exercise.index
					td.exerciseDescription
						= exercise.title

	div#controls.textBubble
		div.title Key Commands

		div.
			Key commands use Alt.

		table#aboutKeys
			each kre in keyCodes
				tr
					td.key= kre[0]
					td.key= kre[1]
					td= kre[2]

	// div#contact.textBubble
	//	div Bugs? Probably!
	//	a(href='mailto:hansoa2@rpi.edu') hansoa2@rpi.edu
